@import "variables.scss";

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none;
}

ul {
  font-size: $font-size;
}

span {
  font-size: $font-size;
}

p {
  font-size: $font-size;
}
