/* VARIABLES */

$s-font-size: 14px;
$m-font-size: 15px;

$header-bg: #fff;
$header-bb: #eee;
$menu-width: 250px!default;

$background: #fafafa;

$turquoise: #008cba;
$green: #04ff32;
$gray-lt: #d8d8d8;
$gray-ltr: #edeeee;
$white: #fff;

// http://foundation.zurb.com/sites/docs/v/5.5.3/media-queries.html
$s-breakpoint:  34em;
$m-breakpoint: 48em;
$l-breakpoint:  62em;
$xl-breakpoint: 75em;
