html
  head
    title='instaview'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    link(
      rel='stylesheet',
      href='http://'+args.liveReload.host+':'+args.liveReload.port+'/'+args.filename.style)

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    #app!= content

  script(src='http://'+args.liveReload.host+':'+args.liveReload.port+'/'+args.filename.app, defer)
