@import "node_modules/compass-mixins/lib/compass";
@import "variables.scss";

.feed {
  .feed-item {
    background-color: $white;
    border: 1px solid $gray-ltr;
    margin-bottom: 50px;
    border-radius: 3px;
  }

  .feed-item-header {
    height: 64px;
    padding: 14px 20px;
  }

  .feed-profimg {
    vertical-align: top;
    width: 28px;
    @include border-radius(50%);
  }

  .feed-username {
    font-weight: bold;
  }

  .feed-meta {
    a {
      display: block;
    }

    line-height: 15px;
    padding-left: 10px;
    display: inline-block;
  }

  .feed-item-footer {
    padding: 0 24px;
  }

  .feed-likes {
    margin: 20px 0;
  }

  .feed-time {
    float: right;
    color: $gray-lt;
  }

  .comment-list {
    margin-left: 0px;
    list-style-type: none;
  }
}
