@import "~compass-mixins/lib/_compass.scss";
@import "variables.scss";

/* HEADER */
.header {
  height: 66px;

  line-height: 66px;
  color: #fff;

  margin-bottom: 25px;

  border-bottom: 1px solid $header-bb;
  background-color: $header-bg;
}

.header_logo {
  font-weight: 700;
  padding: 0 15px 0px 0px;
  float: left;
}

.pusher {
  min-height: 100%;
  background-color: $background;
}

/* MENU */
.menu {
  float: left;
  a {
    &.login {
      color: $green;
    }

    padding: 0 10px;
  }

  a:hover {
    color: #c5cae9;
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .pusher {
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }

  .header_icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;

    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      @include box-shadow(0 10px 0 1px $turquoise, 0 16px 0 1px $turquoise, 0 22px 0 1px $turquoise);
    }
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: darken($header-bg, 5);

    width: $menu-width;

    @include transform(translateX($menu-width * -1));
    a {
      display: block;
      height: 40px;

      text-align: center;
      line-height: 40px;

      border-bottom: 1px solid $header-bg;
    }
  }

  .drawOpen {
    .pusher {
      @include transform(translateX($menu-width));
    }
  }
}
