@import "variables.scss";

.user-item {
  white-space: nowrap;
  overflow: hidden;
  .user-fig {
    display: inline-block;
    width: 15%;

    img {
      border-radius: 50%;
    }
  }
  .user-info {
    display: inline-block;
  }
}

.user-item:nth-child(odd) {
  background: $white;
}
